@{
    Layout = null;
}
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />

    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>


    <div class="text-center">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <p>Düğün Davet Uygulaması</p>

        şehmus çakar
        <br />
        <a class="btn btn-outline-danger" asp-action="CevapFormu"> Cevap Formu için Tıklayın</a> <!-- burda link verdik burdan CevapFormu indexine gitsin diye-->
    </div>
    <br />
    <img src="~/At-resimleri_5.jpg" width="1600" height="500" />
</body>
</html>

