.field-validation-error{
    color:#ff0000;
}

.field-validation-vaild{
    display:none;
}

.input-validation-error {
    border: 1px solid #4cff00;
    background-color:#ffd800;
}

.field-summary-errors{
    font-weight:bold;
    color:#4cff00;
}

.validation-summary-valid{
    display:none;
}